<div class="flex w-screen">
  <div class="navbar m-2 mb-0 md:mb-2 shadow-md bg-secondary rounded-box px-4">
    <div class="navbar-start">
      <button
        class="btn btn-secondary font-bold w-10 h-10 px-1 text-white md:hidden"
        (click)="toggleMobileDrawer()"
        title="Abrir menú"
      >
        <app-web-icon
          nombreIcono="menu-outline"
          estilos="w-full h-full stroke-3"
        ></app-web-icon>
      </button>
      <a
        (click)="navegarAlInicio()"
        class="text-xl text-secondary-content font-bold ml-3 lg:ml-0 cursor-pointer"
      >
        <img
          src="assets/icon/logo-universidad-unab.png"
          class="inline-block w-32 brightness-0 invert"
          alt="Logo"
        />
      </a>
    </div>

    <div class="navbar-end gap-2">
      <button
        class="btn btn-secondary font-bold w-10 h-10 btn-circle px-1 text-white md:hidden ml-1"
        (click)="recargarAplicacion()"
        [disabled]="isRefreshing()"
        title="Recargar aplicación"
      >
        <app-web-icon
          [nombreIcono]="isRefreshing() ? 'refresh-outline' : 'refresh-outline'"
          [estilos]="'w-full h-full stroke-3 font-bold' + (isRefreshing() ? ' animate-spin' : '')"
        ></app-web-icon>
      </button>
      <div class="flex-col hidden md:inline-flex">
        <span class="font-semibold text-secondary-content">
          {{ `${usuario()?.nombre} ${usuario()?.apellido}` }}
        </span>
        <span class="text-xs text-secondary-content">
          {{ obtenerLeyenda(usuario()) | upperFirst }}
        </span>
      </div>
      <div class="relative ml-3 hidden md:inline-flex">
        <div class="dropdown dropdown-end">
          <div tabindex="0" role="button" class="btn btn-sm btn-circle">
            <div class="w-10 rounded-full">
              <app-web-icon
                nombreIcono="person-circle-outline"
                estilos="w-full h-full !fill-base-content"
              ></app-web-icon>
            </div>
          </div>
          <ul
            tabindex="0"
            class="menu dropdown-content bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm"
          >
            <li>
              <a routerLink="/perfil" tabindex="-1">
                <app-web-icon
                  nombreIcono="person-outline"
                  estilos="h-4 w-4"
                ></app-web-icon>
                Perfil
              </a>
            </li>
            <li>
              <a (click)="cerrarSesion()" tabindex="-1">
                <app-web-icon
                  nombreIcono="log-out-outline"
                  estilos="h-4 w-4"
                ></app-web-icon>
                Cerrar Sesión
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
