@if (appService.esMovil()) {
<ion-button
  fill="outline"
  color="primary"
  size="small"
  (click)="toggle()">
  @if (isExpanded()) {
  <ion-icon
    slot="icon-only"
    [name]="
      isExpanded() ? 'chevron-up-outline' : 'chevron-down-outline'
    "></ion-icon>
  } @else {
  <ion-icon
    slot="icon-only"
    [name]="
      isExpanded() ? 'chevron-up-outline' : 'chevron-down-outline'
    "></ion-icon>
  }
</ion-button>
} @else{
<div class="flex justify-center">
  @if (isExpanded()) {
  <app-web-icon
    estilos="h-6 w-6 cursor-pointer"
    (click)="toggle()"
    [nombreIcono]="'chevron-up-circle-outline'"></app-web-icon>
  } @else {
  <app-web-icon
    estilos="h-6 w-6 cursor-pointer"
    (click)="toggle()"
    [nombreIcono]="'chevron-down-circle-outline'"></app-web-icon>
  }
</div>
}
