<div class="grid grid-cols-1 md:grid-cols-2 gap-1 md:gap-2">
  <!-- Espacio -->
  <div class="flex items-center">
    <app-web-icon
      nombreIcono="home-outline"
      estilos="h-6 w-6 mr-3 text-primary"
    ></app-web-icon>
    <div>
      <span class="text-sm text-base-content/70">Espacio:</span>
      <p class="font-medium">
        {{ resumen()?.nombre_espacio | upperFirst }}
      </p>
    </div>
  </div>

  <!-- Sede -->
  <div class="flex items-center">
    <app-web-icon
      nombreIcono="location-outline"
      estilos="h-6 w-6 mr-3 text-primary"
    ></app-web-icon>
    <div>
      <span class="text-sm text-base-content/70">Sede:</span>
      <p class="font-medium">{{ resumen()?.sede | uppercase }}</p>
    </div>
  </div>

  <!-- Fecha -->
  <div class="flex items-center">
    <app-web-icon
      nombreIcono="calendar-outline"
      estilos="h-6 w-6 mr-3 text-primary"
    ></app-web-icon>
    <div>
      <span class="text-sm text-base-content/70">Fecha:</span>
      <p class="font-medium">
        {{ resumen()?.fecha }}
      </p>
    </div>
  </div>

  <!-- Hora -->
  <div class="flex items-center">
    <app-web-icon
      nombreIcono="time-outline"
      estilos="h-6 w-6 mr-3 text-primary"
    ></app-web-icon>
    <div>
      <span class="text-sm text-base-content/70">Hora de inicio:</span>
      <p class="font-medium">{{ resumen()?.hora_inicio }}</p>
    </div>
  </div>

  <!-- Duración -->
  <div class="flex items-center">
    <app-web-icon
      nombreIcono="hourglass-outline"
      estilos="h-6 w-6 mr-3 text-primary"
    ></app-web-icon>
    <div>
      <span class="text-sm text-base-content/70">Duración:</span>
      <p class="font-medium">{{ resumen()?.duracion | formatearDuracion }}</p>
    </div>
  </div>

  <!-- Usuario -->
  <div class="flex items-center">
    <app-web-icon
      nombreIcono="person-outline"
      estilos="h-6 w-6 mr-3 text-primary"
    ></app-web-icon>
    <div>
      <span class="text-sm text-base-content/70">Reservado por:</span>
      <p class="font-medium">{{ resumen()?.usuario_reserva }}</p>
      <p class="text-sm text-base-content/50">
        {{ resumen()?.codigo_usuario }}
      </p>
    </div>
  </div>
</div>

<!-- Valor si existe -->
@if (resumen()?.valor && resumen()?.valor! > 0) {
<div class="mt-2 p-2 bg-base-100 rounded-lg border border-base-300">
  <div class="flex items-center justify-between">
    <div class="flex items-center">
      <app-web-icon
        nombreIcono="card-outline"
        estilos="h-5 w-5 mr-3 text-success"
      ></app-web-icon>
      <span class="text-lg font-semibold">Valor total:</span>
    </div>
    <div class="flex gap-1 items-center">
      <span class="text-sm md:text-base line-through text-base-content/70 italic mr-2"
        >${{ resumen()?.valor?.toLocaleString('es-CO') }}</span
      >
      <span class="text-2xl font-bold text-success">
        ${{ resumen()?.valor_descuento?.toLocaleString('es-CO') }}
      </span>
    </div>
  </div>
</div>
}

<!-- Jugadores agregados -->
@if (resumen()?.jugadores && resumen()?.jugadores!.length > 0) {
<div class="mt-2 p-2 md:p-4 bg-base-100 rounded-lg border border-base-300">
  <div class="flex items-center mb-3">
    <app-web-icon
      nombreIcono="people-outline"
      estilos="h-5 w-5 mr-3 text-info"
    ></app-web-icon>
    <span class="text-lg font-semibold"
      >Jugadores agregados ({{ (resumen()?.jugadores)!.length }}):</span
    >
  </div>
  <div class="space-y-1">
    @for (jugador of resumen()?.jugadores; track jugador.id) {
    <div
      class="flex items-center justify-between bg-info/10 rounded-lg px-3 py-1"
    >
      <div class="flex flex-col max-[380px]:max-w-1/2">
        <span class="font-semibold text-wrap"
          >{{ jugador.nombre }} {{ jugador.apellido }}</span
        >
        <span class="text-sm italic text-base-content/70"
          >CC: {{ jugador.documento || jugador.codigo_usuario }}</span
        >
      </div>
      <div class="badge badge-info">Confirmado</div>
    </div>
    }
  </div>
</div>
}

<!-- Mensaje de éxito final -->
@if (resumen()?.estado === 'completada') {
<div class="text-center text-base-content/70">
  <p class="text-lg">¡Tu reserva ha sido confirmada exitosamente!</p>
  <p class="text-sm mt-1">
    Recibirás un correo con los detalles de tu reserva.
  </p>
</div>
}
