<ion-content class="ion-padding">
  <ion-grid class="ion-padding h-full">
    <ion-row class="h-full ion-justify-content-center ion-align-items-center">
      <ion-col size-md="6" size-lg="4" size="12" class="ion-text-center">
        <ion-text color="primary">
          <h1 class="ion-text-center !font-bold !text-4xl">Ingresar</h1>
        </ion-text>
        <ion-text color="dark" class="ion-margin-bottom font-bold">
          <h2>Bienvenido!</h2>
        </ion-text>

        <form (ngSubmit)="onLogin()" #loginForm="ngForm">
          <ion-item lines="none" class="ion-margin-bottom ion-margin-top">
            <ion-icon name="mail-outline" slot="start" color="dark" class="mr-3 mt-0.5"></ion-icon>
            <ion-input labelPlacement="stacked" label="Correo" placeholder="Ingresa tu correo..." type="email"
              [(ngModel)]="loginData.email" name="email" required></ion-input>
          </ion-item>
          <ion-item lines="none" class="ion-margin-bottom ion-item-top">
            <ion-icon name="key-outline" slot="start" color="dark" class="mr-3 mt-0.5"></ion-icon>
            <ion-input labelPlacement="stacked" label="Contraseña" placeholder="Ingresa tu contraseña..."
              type="password" [(ngModel)]="loginData.password" name="password" required></ion-input>
            <ion-icon name="eye-off-outline" slot="end" color="dark"></ion-icon>
          </ion-item>

          <ion-row>
            <ion-col size="12" class="ion-text-right">
              <ion-button fill="clear" color="dark" size="small" class="ion-no-padding font-bold"
                routerLink="/auth/reset-password">
                Olvidaste tu clave?
              </ion-button>
            </ion-col>
          </ion-row>

          <ion-button color="primary" expand="block" class="ion-margin-top" type="submit">
            Ingresar
            <ion-icon class="mt-0.5 ml-3" name="arrow-forward-outline" slot="end"></ion-icon>
          </ion-button>
        </form>

        <ion-row class="ion-padding-top ion-text-center">
          <ion-col class="flex items-center justify-center gap-4">
            <ion-text color="dark" class="ion-no-padding">No tienes una cuenta?</ion-text>
            <ion-button fill="clear" class="ion-no-padding font-bold text-[16px] " size="small" routerLink="/auth/registro">Registrate.</ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
