<div class="flex flex-col w-full h-full relative max-sm:pt-2 sm:px-2">
  <div class="flex-1">
    <div class="w-full sticky top-0 z-20">
      <div
        class="flex w-full max-w-4xl mx-auto justify-between pb-2 md:pb-4 bg-base-300"
      >
        <div>
          <h1 class="text-3xl font-bold text-base-content mb-2">Mi Perfil</h1>
          <p class="text-sm lg:text-base text-base-content/70">
            Administra tu información personal
          </p>
        </div>

        <div class="lg:col-span-1">
          <div class="rounded-box bg-base-100 shadow-md">
            <div class="card-body p-1 md:p-2 items-center text-center">
              <h3 class="text-lg lg:text-xl font-semibold">
                @if (perfilService.usuario(); as usuario) {
                {{ usuario.nombre }} {{ usuario.apellido }}
                } @else { Cargando... }
              </h3>
              <div class="badge badge-primary">
                @if (perfilService.usuario(); as usuario) {
                {{ usuario.tipoUsuario[0] | upperFirst }}
                } @else { - }
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Contenido Principal -->
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-3 max-w-4xl mx-auto">
      <div class="lg:col-span-2 tabs max-md:tabs-box tabs-lift">
        <!-- Pestañas -->
        <input
          [checked]="selectedTab() === 'perfil'"
          type="radio"
          name="my_tabs"
          (change)="cambiarTab('perfil')"
          class="tab h-11 md:h-[var(--tab-height)] font-bold text-base lg:text-lg w-full md:w-auto"
          aria-label="Información personal"
        />
        <div
          class="tab-content bg-base-100 p-2 md:p-4 h-full max-h-[calc(100dvh_-_17.75rem)] lg:max-h-[calc(100dvh_-_16.75rem)] overflow-hidden relative max-sm:rounded-b-lg"
        >
          <form
            class="overflow-y-auto h-full"
            [formGroup]="perfilForm"
            (ngSubmit)="guardarCambios()"
          >
            <div
              class="mb-4 px-1 flex flex-col md:flex-row w-full gap-2 md:gap-3"
            >
              <div class="flex flex-col w-full md:w-1/2">
                <label
                  class="label text-sm font-[600] text-base-content mb-1 md:mb-2"
                  for="nombre"
                >
                  Nombre <span class="text-error">*</span>
                </label>
                <input
                  type="text"
                  id="nombre"
                  formControlName="nombre"
                  placeholder="Nombre"
                  [ngClass]="{
                    'input input-bordered w-full h-11 rounded-box placeholder:text-gray-400 placeholder:text-xs md:placeholder:text-sm': true,
                    'input-error': formUtils.esCampoInvalido(
                      perfilForm,
                      'nombre'
                    )
                  }"
                />
                @if (formUtils.esCampoInvalido(perfilForm, 'nombre')) {
                <div class="text-sm text-error">
                  {{ formUtils.obtenerErrorDelCampo(perfilForm, 'nombre') }}
                </div>
                }
              </div>
              <div class="flex flex-col w-full md:w-1/2">
                <label
                  class="label text-sm font-[600] text-base-content mb-1 md:mb-2"
                  for="apellido"
                >
                  Apellido <span class="text-error">*</span>
                </label>
                <input
                  type="text"
                  id="apellido"
                  formControlName="apellido"
                  placeholder="Apellido"
                  [ngClass]="{
                    'input input-bordered w-full h-11 rounded-box placeholder:text-gray-400 placeholder:text-xs md:placeholder:text-sm': true,
                    'input-error': formUtils.esCampoInvalido(
                      perfilForm,
                      'apellido'
                    )
                  }"
                />
                @if (formUtils.esCampoInvalido(perfilForm, 'apellido')) {
                <div class="text-sm text-error">
                  {{ formUtils.obtenerErrorDelCampo(perfilForm, 'apellido') }}
                </div>
                }
              </div>
            </div>
            <div
              class="my-4 px-1 flex flex-col md:flex-row w-full gap-2 md:gap-3"
            >
              <div class="flex flex-col w-full md:w-1/2">
                <label
                  class="label text-sm font-[600] text-base-content mb-1 md:mb-2"
                  for="telefono"
                >
                  Teléfono <span class="text-error">*</span>
                </label>
                <input
                  type="tel"
                  id="telefono"
                  inputSoloNumeros
                  formControlName="telefono"
                  placeholder="1234567890"
                  [ngClass]="{
                    'input input-bordered w-full h-11 rounded-box placeholder:text-gray-400 placeholder:text-xs md:placeholder:text-sm': true,
                    'input-error': formUtils.esCampoInvalido(
                      perfilForm,
                      'telefono'
                    )
                  }"
                />
                @if (formUtils.esCampoInvalido(perfilForm, 'telefono')) {
                <div class="text-sm text-error">
                  {{ formUtils.obtenerErrorDelCampo(perfilForm, 'telefono') }}
                </div>
                }
              </div>
              <div class="flex flex-col w-full md:w-1/2">
                <label
                  class="label text-sm font-[600] text-base-content mb-1 md:mb-2"
                  for="fechaNacimiento"
                >
                  Fecha de Nacimiento <span class="text-error">*</span>
                </label>
                <label class="input input-bordered w-full h-11 rounded-box">
                  <input
                    type="text"
                    #fechaNacimientoPicker
                    id="fechaNacimiento"
                    placeholder="dd/mm/yyyy"
                    formControlName="fechaNacimiento"
                    [ngClass]="{
                      'pika-single grow w-full h-11 rounded-box placeholder:text-xs md:placeholder:text-sm': true,
                      'input-error': formUtils.esCampoInvalido(
                        perfilForm,
                        'fechaNacimiento'
                      )
                    }"
                  />
                  <app-web-icon
                    [nombreIcono]="'calendar-outline'"
                    [estilos]="'h-5 w-5'"
                  ></app-web-icon>
                </label>
                <div #contenedorCalendario class="w-full relative"></div>
                @if (formUtils.esCampoInvalido(perfilForm, 'fechaNacimiento')) {
                <div class="text-sm text-error">
                  {{
                    formUtils.obtenerErrorDelCampo(
                      perfilForm,
                      'fechaNacimiento'
                    )
                  }}
                </div>
                }
              </div>
            </div>

            <!-- Sección de Información del Documento -->
            <div class="my-6 px-1">
              <h3 class="text-lg font-semibold text-base-content mb-4">
                Información del Documento
              </h3>

              <!-- Tipo y Número de Documento -->
              <div class="flex flex-col md:flex-row w-full gap-2 md:gap-3 mb-4">
                <div class="flex flex-col w-full md:w-2/6">
                  <label
                    class="label text-sm font-[600] text-base-content mb-1 md:mb-2"
                    for="tipoDocumento"
                  >
                    Tipo Doc. <span class="text-error">*</span>
                  </label>
                  <select
                    type="text"
                    id="tipoDocumento"
                    formControlName="tipoDocumento"
                    [ngClass]="{
                      'select input-bordered w-full h-11 rounded-box placeholder:text-gray-400 placeholder:text-xs md:placeholder:text-sm': true,
                      'input-error': formUtils.esCampoInvalido(
                        perfilForm,
                        'tipoDocumento'
                      )
                    }"
                  >
                    <option value="" disabled selected>Seleccione</option>
                    @for (tipoDoc of appService.tipoDocQuery.data(); track
                    tipoDoc.id) {
                    <option [value]="tipoDoc.id">
                      {{ `${tipoDoc.codigo} - ${tipoDoc.nombre}` }}
                    </option>
                    }
                  </select>
                  @if (formUtils.esCampoInvalido(perfilForm, 'tipoDocumento')) {
                  <div class="text-sm text-error">
                    {{
                      formUtils.obtenerErrorDelCampo(
                        perfilForm,
                        'tipoDocumento'
                      )
                    }}
                  </div>
                  }
                </div>
                <div class="flex flex-col w-full md:w-3/6">
                  <label
                    class="label text-sm font-[600] text-base-content mb-1 md:mb-2"
                    for="documento"
                  >
                    Documento <span class="text-error">*</span>
                  </label>
                  <input
                    type="text"
                    id="documento"
                    inputSoloNumeros
                    inputmode="numeric"
                    formControlName="documento"
                    placeholder="123456789"
                    [ngClass]="{
                      'input input-bordered w-full h-11 rounded-box placeholder:text-gray-400 placeholder:text-xs md:placeholder:text-sm': true,
                      'input-error': formUtils.esCampoInvalido(
                        perfilForm,
                        'documento'
                      )
                    }"
                  />
                  @if (formUtils.esCampoInvalido(perfilForm, 'documento')) {
                  <div class="text-sm text-error">
                    {{
                      formUtils.obtenerErrorDelCampo(perfilForm, 'documento')
                    }}
                  </div>
                  }
                </div>
                <div class="flex flex-col w-full md:w-1/6">
                  <label
                    class="label text-sm font-[600] text-base-content mb-1 md:mb-2"
                    for="digitoVerificacion"
                  >
                    DV
                  </label>
                  <input
                    type="text"
                    id="digitoVerificacion"
                    formControlName="digitoVerificacion"
                    placeholder="0"
                    maxlength="1"
                    [ngClass]="{
                      'input input-bordered w-full h-11 rounded-box placeholder:text-gray-400 placeholder:text-xs md:placeholder:text-sm': true,
                      'input-error': formUtils.esCampoInvalido(
                        perfilForm,
                        'digitoVerificacion'
                      )
                    }"
                  />
                  @if (formUtils.esCampoInvalido(perfilForm,
                  'digitoVerificacion')) {
                  <div class="text-sm text-error">
                    {{
                      formUtils.obtenerErrorDelCampo(
                        perfilForm,
                        'digitoVerificacion'
                      )
                    }}
                  </div>
                  }
                </div>
              </div>

              <!-- Ciudad de Expedición del Documento -->
              <div class="flex flex-col md:flex-row w-full gap-2 md:gap-3 mb-4">
                <div class="flex flex-col w-full md:w-1/2">
                  <label
                    class="label text-sm font-[600] text-base-content mb-1 md:mb-2"
                    for="ciudadExpedicion"
                  >
                    Ciudad de Expedición <span class="text-error">*</span>
                  </label>
                  <div class="relative">
                    <input
                      type="text"
                      id="ciudadExpedicion"
                      [value]="ciudadTerminoBusqueda()"
                      (input)="onCiudadInputChange($event)"
                      (keydown)="onCiudadKeyDown($event)"
                      (focus)="mostrarOpcionesCiudades.set(true)"
                      (blur)="ocultarOpcionesCiudades()"
                      placeholder="Escriba para buscar una ciudad..."
                      autocomplete="off"
                      role="combobox"
                      [attr.aria-expanded]="mostrarOpcionesCiudades()"
                      [attr.aria-activedescendant]="
                        indiceOpcionSeleccionada() >= 0
                          ? 'ciudad-option-' + indiceOpcionSeleccionada()
                          : null
                      "
                      [ngClass]="{
                        'input input-bordered w-full h-11 rounded-box placeholder:text-gray-400 placeholder:text-xs md:placeholder:text-sm': true,
                        'input-error': formUtils.esCampoInvalido(
                          perfilForm,
                          'ciudadExpedicion'
                        )
                      }"
                    />
                    @if (mostrarOpcionesCiudades() && ciudadesFiltradas().length
                    > 0) {
                    <div
                      class="absolute z-10 w-full mt-1 bg-base-100 shadow-lg border-base-300 border rounded-lg max-h-60 overflow-y-auto"
                      role="listbox"
                    >
                      @for (ciudad of ciudadesFiltradas(); track ciudad.id; let
                      i = $index) {
                      <div
                        [id]="'ciudad-option-' + i"
                        class="py-3 px-4 cursor-pointer border-b border-base-100/10 transition-colors duration-200 hover:bg-base-100 last:border-b-0 animate-fade-in text-sm"
                        [class.highlighted]="i === indiceOpcionSeleccionada()"
                        role="option"
                        [attr.aria-selected]="i === indiceOpcionSeleccionada()"
                        (click)="seleccionarCiudad(ciudad)"
                      >
                        {{ ciudad.nombre }}
                      </div>
                      }
                    </div>
                    } @if (mostrarOpcionesCiudades() &&
                    ciudadesFiltradas().length === 0 && ciudadTerminoBusqueda())
                    {
                    <div
                      class="absolute z-10 w-full mt-1 bg-base-100 shadow-lg border-base-300 border rounded-lg max-h-60 overflow-y-auto animate-fade-in text-sm"
                    >
                      <div class="py-3 px-4 text-gray-500 italic">
                        No se encontraron ciudades
                      </div>
                    </div>
                    }
                  </div>
                  @if (formUtils.esCampoInvalido(perfilForm,
                  'ciudadExpedicion')) {
                  <div class="text-sm text-error">
                    {{
                      formUtils.obtenerErrorDelCampo(
                        perfilForm,
                        'ciudadExpedicion'
                      )
                    }}
                  </div>
                  }
                </div>
              </div>
            </div>

            <div class="my-4 px-1 flex flex-col w-full">
              <label
                class="label text-sm font-[600] text-base-content mb-1 md:mb-2"
                >Email <span class="text-error">*</span></label
              >
              <input
                type="email"
                id="email"
                formControlName="email"
                placeholder="micorreo@unab.edu.co"
                [ngClass]="{
                  'input input-bordered w-full h-11 rounded-box placeholder:text-gray-400 placeholder:text-xs md:placeholder:text-sm': true,
                  'input-error': formUtils.esCampoInvalido(perfilForm, 'email')
                }"
              />
              @if (formUtils.esCampoInvalido(perfilForm, 'email')) {
              <div class="text-sm text-error">
                {{ formUtils.obtenerErrorDelCampo(perfilForm, 'email') }}
              </div>
              }
            </div>

            <div class="flex flex-col md:flex-row w-full gap-2 md:gap-3">
              <div class="flex flex-col w-full md:w-1/2">
                <label
                  class="label text-sm font-[600] text-base-content mb-1 md:mb-2"
                  >Dirección <span class="text-error">*</span></label
                >
                <input
                  type="text"
                  id="direccion"
                  formControlName="direccion"
                  placeholder="Calle X # 123A-45"
                  [ngClass]="{
                    'input input-bordered w-full h-11 rounded-box placeholder:text-gray-400 placeholder:accent-base-300 placeholder:text-sm': true,
                    'input-error': formUtils.esCampoInvalido(
                      perfilForm,
                      'direccion'
                    )
                  }"
                />
                @if (formUtils.esCampoInvalido(perfilForm, 'direccion')) {
                <div class="text-sm text-error">
                  {{ formUtils.obtenerErrorDelCampo(perfilForm, 'direccion') }}
                </div>
                }
              </div>
              <!-- Ciudad de Residencia -->
              <div class="flex flex-col w-full md:w-1/2">
                <label
                  class="label text-sm font-[600] text-base-content mb-1 md:mb-2"
                  for="ciudadResidencia"
                >
                  Ciudad de Residencia <span class="text-error">*</span>
                </label>
                <div class="relative">
                  <input
                    type="text"
                    id="ciudadResidencia"
                    [value]="ciudadResidenciaTerminoBusqueda()"
                    (input)="onCiudadResidenciaInputChange($event)"
                    (keydown)="onCiudadResidenciaKeyDown($event)"
                    (focus)="mostrarOpcionesCiudadesResidencia.set(true)"
                    (blur)="ocultarOpcionesCiudadesResidencia()"
                    placeholder="Escriba para buscar una ciudad..."
                    autocomplete="off"
                    role="combobox"
                    [attr.aria-expanded]="mostrarOpcionesCiudadesResidencia()"
                    [attr.aria-activedescendant]="
                      indiceOpcionSeleccionadaResidencia() >= 0
                        ? 'ciudad-residencia-option-' +
                          indiceOpcionSeleccionadaResidencia()
                        : null
                    "
                    [ngClass]="{
                      'input input-bordered w-full h-11 rounded-box placeholder:text-gray-400 placeholder:text-xs md:placeholder:text-sm': true,
                      'input-error': formUtils.esCampoInvalido(
                        perfilForm,
                        'ciudadResidencia'
                      )
                    }"
                  />
                  @if (mostrarOpcionesCiudadesResidencia() &&
                  ciudadesResidenciaFiltradas().length > 0) {
                  <div
                    class="absolute z-10 w-full mt-1 bg-base-100 shadow-lg border-base-300 border rounded-lg max-h-60 overflow-y-auto"
                    role="listbox"
                  >
                    @for (ciudad of ciudadesResidenciaFiltradas(); track
                    ciudad.id; let i = $index) {
                    <div
                      [id]="'ciudad-residencia-option-' + i"
                      class="py-3 px-4 cursor-pointer border-b border-base-100/10 transition-colors duration-200 hover:bg-base-100 last:border-b-0 animate-fade-in text-sm"
                      [class.highlighted]="
                        i === indiceOpcionSeleccionadaResidencia()
                      "
                      role="option"
                      [attr.aria-selected]="
                        i === indiceOpcionSeleccionadaResidencia()
                      "
                      (click)="seleccionarCiudadResidencia(ciudad)"
                    >
                      {{ ciudad.nombre }}
                    </div>
                    }
                  </div>
                  } @if (mostrarOpcionesCiudadesResidencia() &&
                  ciudadesResidenciaFiltradas().length === 0 &&
                  ciudadResidenciaTerminoBusqueda()) {
                  <div
                    class="absolute z-10 w-full mt-1 bg-base-100 shadow-lg border-base-300 border rounded-lg max-h-60 overflow-y-auto animate-fade-in text-sm"
                  >
                    <div class="py-3 px-4 text-gray-500 italic">
                      No se encontraron ciudades
                    </div>
                  </div>
                  }
                </div>
                @if (formUtils.esCampoInvalido(perfilForm, 'ciudadResidencia'))
                {
                <div class="text-sm text-error">
                  {{
                    formUtils.obtenerErrorDelCampo(
                      perfilForm,
                      'ciudadResidencia'
                    )
                  }}
                </div>
                }
              </div>
            </div>

            <!-- Sección de Información Tributaria -->
            <div class="my-6 px-1">
              <h3 class="text-lg font-semibold text-base-content mb-4">
                Información Tributaria
              </h3>

              <div class="flex flex-col md:flex-row w-full gap-2 md:gap-3">
                <div class="flex flex-col w-full md:w-1/2">
                  <label
                    class="label text-sm font-[600] text-base-content mb-1 md:mb-2"
                    for="tipoPersona"
                  >
                    Tipo de Persona <span class="text-error">*</span>
                  </label>
                  <select
                    id="tipoPersona"
                    formControlName="tipoPersona"
                    [ngClass]="{
                      'select input-bordered w-full h-11 rounded-box placeholder:text-gray-400 placeholder:text-xs md:placeholder:text-sm': true,
                      'input-error': formUtils.esCampoInvalido(
                        perfilForm,
                        'tipoPersona'
                      )
                    }"
                  >
                    <option value="" disabled selected>Seleccione</option>
                    <option value="natural">Persona Natural</option>
                    <option value="juridica">Persona Jurídica</option>
                  </select>
                  @if (formUtils.esCampoInvalido(perfilForm, 'tipoPersona')) {
                  <div class="text-sm text-error">
                    {{
                      formUtils.obtenerErrorDelCampo(perfilForm, 'tipoPersona')
                    }}
                  </div>
                  }
                </div>
                <div class="flex flex-col w-full md:w-1/2">
                  <label
                    class="label text-sm font-[600] text-base-content mb-1 md:mb-2"
                    for="regimenTributario"
                  >
                    Régimen Tributario <span class="text-error">*</span>
                  </label>
                  <select
                    id="regimenTributario"
                    formControlName="regimenTributario"
                    [ngClass]="{
                      'select input-bordered w-full h-11 rounded-box placeholder:text-gray-400 placeholder:text-xs md:placeholder:text-sm': true,
                      'input-error': formUtils.esCampoInvalido(
                        perfilForm,
                        'regimenTributario'
                      )
                    }"
                  >
                    <option value="" disabled selected>
                      @if (perfilService.regimenesTributariosCargando()) {
                      Cargando... } @else { Seleccione }
                    </option>
                    @for (regimen of perfilService.regimenesTributarios(); track
                    regimen.codigo) {
                    <option [value]="regimen.codigo">
                      {{ regimen.nombre }}
                    </option>
                    }
                  </select>
                  @if (formUtils.esCampoInvalido(perfilForm,
                  'regimenTributario')) {
                  <div class="text-sm text-error">
                    {{
                      formUtils.obtenerErrorDelCampo(
                        perfilForm,
                        'regimenTributario'
                      )
                    }}
                  </div>
                  } @if (perfilService.regimenesTributariosError()) {
                  <div class="text-sm text-warning">
                    Error al cargar regímenes tributarios. Por favor, recarga la
                    página.
                  </div>
                  }
                </div>
              </div>
            </div>

            <div
              class="card-actions justify-end sticky bg-base-100 z-50 bottom-0 right-0"
            >
              <button
                type="submit"
                [disabled]="perfilForm.invalid || perfilService.cargando()"
                class="btn btn-primary"
              >
                @if (perfilService.cargando()) {
                <span class="loading loading-spinner loading-sm"></span>
                Guardando... } @else { Guardar Cambios }
              </button>
            </div>
          </form>
        </div>

        <input
          [checked]="selectedTab() === 'password'"
          type="radio"
          name="my_tabs"
          (change)="cambiarTab('password')"
          class="tab h-11 md:h-[var(--tab-height)] font-bold text-base lg:text-lg w-full md:w-auto before:bg-none"
          aria-label="Cambiar Contraseña"
        />
        <div
          class="tab-content bg-base-100 p-2 md:p-4 overflow-y-auto !h-fit max-sm:rounded-b-lg max-sm:rounded-t-none"
        >
          <form
            class="h-full"
            [formGroup]="passwordForm"
            (ngSubmit)="cambiarPassword()"
          >
            <div class="space-y-4">
              <div class="flex flex-col w-full">
                <label
                  class="label text-sm font-[600] text-base-content mb-1 md:mb-2"
                  for="currentPassword"
                >
                  Contraseña Actual <span class="text-error">*</span>
                </label>
                <input
                  type="password"
                  id="currentPassword"
                  formControlName="currentPassword"
                  placeholder="Ingresa tu contraseña actual"
                  [ngClass]="{
                    'input input-bordered w-full h-11 rounded-box placeholder:text-gray-400 placeholder:text-sm': true,
                    'input-error': formUtils.esCampoInvalido(
                      passwordForm,
                      'currentPassword'
                    )
                  }"
                />
                @if (formUtils.esCampoInvalido(passwordForm, 'currentPassword'))
                {
                <div class="text-sm text-error">
                  {{
                    formUtils.obtenerErrorDelCampo(
                      passwordForm,
                      'currentPassword'
                    )
                  }}
                </div>
                }
              </div>

              <div class="flex flex-col w-full">
                <label
                  class="label text-sm font-[600] text-base-content mb-1 md:mb-2"
                  for="newPassword"
                >
                  Nueva Contraseña <span class="text-error">*</span>
                </label>
                <input
                  type="password"
                  id="newPassword"
                  formControlName="newPassword"
                  placeholder="Ingresa tu nueva contraseña"
                  [ngClass]="{
                    'input input-bordered w-full h-11 rounded-box placeholder:text-gray-400 placeholder:text-sm': true,
                    'input-error': formUtils.esCampoInvalido(
                      passwordForm,
                      'newPassword'
                    )
                  }"
                />
                @if (formUtils.esCampoInvalido(passwordForm, 'newPassword')) {
                <div class="text-sm text-error">
                  {{
                    formUtils.obtenerErrorDelCampo(passwordForm, 'newPassword')
                  }}
                </div>
                }
              </div>

              <div class="flex flex-col w-full">
                <label
                  class="label text-sm font-[600] text-base-content mb-1 md:mb-2"
                  for="confirmPassword"
                >
                  Confirmar Nueva Contraseña
                  <span class="text-error">*</span>
                </label>
                <input
                  type="password"
                  id="confirmPassword"
                  formControlName="confirmPassword"
                  placeholder="Confirma tu nueva contraseña"
                  [ngClass]="{
                    'input input-bordered w-full h-11 rounded-box placeholder:text-gray-400 placeholder:text-sm': true,
                    'input-error': formUtils.esCampoInvalido(
                      passwordForm,
                      'confirmPassword'
                    )
                  }"
                />
                @if (formUtils.esCampoInvalido(passwordForm, 'confirmPassword'))
                {
                <div class="text-sm text-error">
                  {{
                    formUtils.obtenerErrorDelCampo(
                      passwordForm,
                      'confirmPassword'
                    )
                  }}
                </div>
                }
              </div>
            </div>

            <div class="card-actions justify-end mt-2 md:mt-6">
              <button
                type="submit"
                [disabled]="passwordForm.invalid || perfilService.cargando()"
                class="btn btn-primary"
              >
                @if (perfilService.cargando()) {
                <span class="loading loading-spinner loading-sm"></span>
                Cambiando... } @else { Cambiar Contraseña }
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #alertaPerfil></ng-template>
