<ng-template #estadoCell let-context>
  <div
    [attr.data-tip]="context.getValue() === null ? 'Desactivar' : 'Activar'"
    [ngClass]="{
      'badge badge-outline min-w-20 hover:cursor-pointer hover:scale-105 transition-all tooltip tooltip-right lg:tooltip-left align-middle': true,
      'badge-success': context.getValue() === null,
      'badge-error': context.getValue() !== null,
      'opacity-50 pointer-events-none badge-ghost': appService.editando()
    }"
    (click)="
      authService.tienePermisos('ESP000012')
        ? appService.editando()
          ? null
          : cambiarEstadoConfig(context.row.original)
        : null
    "
  >
    {{ (context.getValue() === null ? 'activo' : 'inactivo') | upperFirst }}
  </div>
</ng-template>

<table
  responsiveTable
  #tablaCategoria="responsiveTable"
  [table]="tablaCategorias()"
  class="table w-full rounded-md table-sm sm:table-md border-t border-base-200"
>
  <thead class="sticky top-0 z-20 bg-base-100">
    @for (headerGroup of tablaCategorias().getHeaderGroups(); track
    headerGroup.id) {
    <tr>
      @if (tablaCategoria.hiddenColumnIds().size !== 0) {
      <th
        class="p-2 text-left first:rounded-tl-md last:rounded-tr-md bg-base-100 z-20"
      ></th>
      } @for (header of headerGroup.headers; track header.id) {
      <th
        class="p-2 text-left first:rounded-tl-md last:rounded-tr-md bg-base-100 z-20"
        [colSpan]="header.colSpan"
      >
        @if (!header.isPlaceholder) {
        <ng-container
          *flexRender="
            header.column.columnDef.header;
            props: header.getContext();
            let header
          "
        >
          <span class="text-left" [innerHTML]="header"></span>
        </ng-container>
        }
      </th>
      }
    </tr>
    }
  </thead>
  <tbody>
    @if (modoCreacion()) {
    <tr class="bg-base-100">
      @if (tablaCategoria.hiddenColumnIds().size !== 0) {
      <td class="!pe-0">
        <app-table-expansor
          [disabled]="appService.editando()"
          [isExpanded]="false"
          (toggleExpand)="(null)"
        ></app-table-expansor>
      </td>
      }
      <td class="p-2">
        <input
          [formControl]="nombre"
          placeholder="Inserte nombre"
          pattern="[a-zA-Z0-9áéíóú ]*"
          class="input input-sm h-9 placeholder:text-gray-400"
          type="text"
        />
      </td>
      <td class="p-2">
        <select
          [formControl]="grupo"
          class="select input-sm h-9 placeholder:text-gray-400"
        >
          <option value="" disabled selected>Seleccione</option>
          @for (grupo of appService.gruposQuery.data(); track $index) {
          <option [value]="grupo.id">
            {{ grupo.nombre | upperFirst }}
          </option>
          }
        </select>
      </td>
      <td class="p-2">
        {{ fechaActual() }}
      </td>
      <td class="p-2">
        <span class="text-sm"></span>
      </td>
      <td class="p-2">
        <acciones-tabla
          [acciones]="accionesNuevo()"
          [ngClass]="'flex justify-between'"
        ></acciones-tabla>
      </td>
    </tr>
    } @if (!categoriasQuery.length && !modoCreacion()) {
    <tr>
      <td
        [attr.colspan]="
          tablaCategorias().getAllColumns().length +
          (tablaCategoria.hiddenColumnIds().size > 0 ? 1 : 0)
        "
        class="text-center text-gray-500"
      >
        <span>No hay configuraciones aún...</span>
      </td>
    </tr>
    } @else { @for (row of tablaCategorias().getRowModel().rows; track row.id) {
    <tr class="bg-base-100">
      @if (tablaCategoria.hiddenColumnIds().size !== 0) {
      <td class="!pe-0">
        <app-table-expansor
          [disabled]="appService.editando()"
          [isExpanded]="row.getIsExpanded()"
          (toggleExpand)="row.toggleExpanded()"
        ></app-table-expansor>
      </td>
      } @for (cell of row.getVisibleCells(); track cell.id) {
      <td class="py-1">
        @if (configService.filaCategoriaEditando()[row.original.id] &&
        esColumnaEditable(cell.column.id)) { @switch (cell.column.id) { @case
        ('nombre') {
        <input
          [formControl]="nombre"
          class="input input-sm h-9 w-full"
          type="text"
          pattern="[a-zA-Z0-9áéíóú ]*"
        />
        } @case('grupo') {
        <select
          [formControl]="grupo"
          class="select input-sm h-9 placeholder:text-gray-400"
        >
          <option value="" disabled selected>Seleccione</option>
          @for (grupo of appService.gruposQuery.data(); track $index) {
          <option [value]="grupo.id">
            {{ grupo.nombre | upperFirst }}
          </option>
          }
        </select>
        } } } @else {
        <ng-container
          *flexRender="
            cell.column.columnDef.cell;
            props: cell.getContext();
            let cell
          "
        >
          <div [innerHTML]="cell"></div>
        </ng-container>
        }
      </td>
      }
    </tr>
    @if (row.getIsExpanded() && tablaCategoria.hiddenColumnIds().size !== 0) {
    <tr class="bg-base-300 border-none">
      <td
        [attr.colspan]="
          row.getVisibleCells().length +
          (tablaCategoria.hiddenColumnIds().size > 0 ? 1 : 0)
        "
      >
        <div class="bg-base-100 rounded-md p-1 px-3 shadow-md w-full">
          @if (tablaCategoria.hiddenColumnIds().size !== 0) {
          <ul>
            @for (col of tablaCategorias().getAllLeafColumns(); track $index) {
            @if (tablaCategoria.hiddenColumnIds().has(col.id)) {
            <li class="flex my-2 flex-row gap-2 items-center">
              <span class="font-bold text-base-content">
                {{ col.columnDef.header }}:
              </span>
              <span>
                <ng-container
                  *flexRender="
                    tablaCategoria.getCell(col, row).column.columnDef.cell;
                    props: tablaCategoria.getCell(col, row).getContext();
                    let cell
                  "
                >
                  <div [innerHTML]="cell"></div>
                </ng-container>
              </span>
            </li>
            } }
          </ul>
          }
        </div>
      </td>
    </tr>
    } } }
  </tbody>
</table>

<!-- Paginador -->
<app-paginador
  [ngClass]="
    'flex flex-col sm:flex-row items-center justify-between gap-4 p-4 bg-base-100 sticky bottom-0 z-10 rounded-b-box'
  "
  [estado]="configService.paginacionCategorias()"
  [paginacion]="configService.datosPaginadorCategorias() ?? null"
  (cambioPaginacion)="onPageChange($event)"
  [mostrarInfo]="true"
  [mostrarSelectorTamano]="true"
  [mostrarExtremos]="true"
  [deshabilitado]="configService.categoriasQuery.isFetching()"
  (prefetchFunction)="configService.prefetchCategorias($event)"
>
</app-paginador>

<ng-template #alertaRoles></ng-template>
