<div
  class="flex flex-col md:flex-row md:pr-2 w-full pb-2 md:pb-4 items-stretch justify-center md:justify-between sticky top-0 z-10 bg-base-300"
>
  <div class="flex items-center justify-center sm:justify-start">
    <h2 class="font-bold text-4xl max-sm:text-2xl mb-2 md:mb-0">Espacios</h2>
  </div>
  <div class="flex flex-col md:flex-row max-md:gap-1 gap-2 mt-1">
    <input
      type="text"
      [disabled]="appService.editando()"
      placeholder="Buscar por nombre o categoria"
      class="input input-bordered max-sm:input-sm input-primary w-full sm:h-11 rounded-box md:max-w-xs placeholder:text-gray-500 placeholder:text-sm disabled:placeholder:text-gray-400"
      [value]="espaciosService.filtroTexto()"
      (input)="aplicarFiltro($any($event.target).value)"
    />

    @if (authService.tienePermisos('ESP000001')) {
    <button
      [disabled]="appService.editando()"
      class="btn max-sm:btn-sm btn-primary sm:h-11 rounded-box"
      (click)="crearEspacio()"
    >
      <app-web-icon estilos="h-6 w-6" nombreIcono="add-outline"></app-web-icon>
      Nuevo espacio
    </button>
    }
  </div>
</div>

<tabla-espacios
  [ngClass]="'flex flex-col max-h-[calc(100%)] overflow-y-auto'"
></tabla-espacios>

<ng-template #alertaEspacios></ng-template>

<modal-espacios
  (guardadoExitoso)="espacioGuardadoExitoso($event)"
></modal-espacios>
