<div
  class="flex flex-col md:flex-row mt-2 pr-2 w-full pb-2 md:pb-4 items-stretch justify-center md:justify-between sticky top-0 z-10 bg-base-300"
>
  <div class="flex items-center">
    <h2 class="font-bold text-4xl">
      {{ espacioQuery.data()?.nombre | titlecase }}
    </h2>
  </div>
</div>
<div class="w-full h-full max-h-full overflow-hidden flex flex-col">
  <div class="tabs tabs-lift overflow-y-auto">
    <input
      #tabPermiso
      type="radio"
      name="espaciosTabs"
      class="tab font-semibold text-[1.125rem]"
      aria-label="General"
      checked="checked"
      (change)="cambiarPestana('general')"
    />
    <div class="tab-content border-base-300 bg-base-100 p-5 md:p-10">
      <espacio-general></espacio-general>
    </div>

    <input
      #tabRol
      type="radio"
      name="espaciosTabs"
      class="tab font-semibold text-[1.125rem]"
      aria-label="Base"
      (change)="cambiarPestana('base')"
    />
    <div class="tab-content border-base-300 bg-base-100 p-5 md:p-10">Hola</div>

    <input
      #tabRol
      type="radio"
      name="espaciosTabs"
      class="tab font-semibold text-[1.125rem]"
      aria-label="Tipo de Usuario"
      (change)="cambiarPestana('tipoUsuario')"
    />
    <div class="tab-content border-base-300 bg-base-100 p-5 md:p-10">Hola</div>

    <input
      #tabRol
      type="radio"
      name="espaciosTabs"
      class="tab font-semibold text-[1.125rem]"
      aria-label="Por Fecha"
      (change)="cambiarPestana('fecha')"
    />
    <div class="tab-content border-base-300 bg-base-100 p-5 md:p-10">Hola</div>
  </div>
</div>

<ng-template #alertaEspacioConfig></ng-template>
