<div
  class="flex flex-col md:flex-row mt-2 pr-2 w-full pb-2 md:pb-4 items-stretch justify-center md:justify-between sticky top-0 z-10 bg-base-300"
>
  <div class="flex max-sm:flex-col items-center justify-between w-full">
    <h2 class="font-bold text-4xl">
      {{ espacioQuery.data()?.nombre | upperFirst }}
    </h2>

    <app-breadcrumbs></app-breadcrumbs>
  </div>
</div>
<div class="w-full h-full max-h-full overflow-hidden flex flex-col">
  <div class="tabs max-md:tabs-box tabs-lift overflow-y-auto">
    <input
      #tabGeneral
      type="radio"
      name="espaciosTabs"
      class="tab font-semibold max-md:text-base max-sm:h-11 text-[1.125rem]"
      aria-label="General"
      [checked]="generalChecked()"
      (change)="cambiarPestana('general')"
    />
    <div
      class="tab-content border-base-300 bg-base-100 max-md:p-2 p-5 xl:p-10 overflow-hidden !max-h-[calc(100vh_-_16.75rem)]"
    >
      <espacio-general
        [ngClass]="
          'flex flex-col h-full max-h-[calc(100vh_-_20rem)] overflow-y-auto'
        "
      ></espacio-general>
    </div>

    <input
      #tabBase
      type="radio"
      name="espaciosTabs"
      class="tab font-semibold max-md:text-base max-sm:h-11 text-[1.125rem]"
      aria-label="Base"
      [checked]="baseChecked()"
      (change)="cambiarPestana('base')"
    />
    <div
      class="tab-content border-base-300 bg-base-100 max-md:p-2 p-5 xl:p-10 overflow-hidden !max-h-[calc(100vh_-_16.75rem)]"
    >
      <config-base
        [ngClass]="
          'flex flex-col h-full max-h-[calc(100vh_-_20rem)] overflow-y-auto'
        "
      ></config-base>
    </div>

    <input
      #tabTipoUsuario
      type="radio"
      name="espaciosTabs"
      class="tab font-semibold max-md:text-base max-sm:h-11 text-[1.125rem]"
      aria-label="Tipo de Usuario"
      [checked]="tipoUsuarioChecked()"
      (change)="cambiarPestana('tipoUsuario')"
    />
    <div
      class="tab-content border-base-300 bg-base-100 max-md:p-2 p-5 xl:p-10 overflow-hidden !max-h-[calc(100vh_-_16.75rem)]"
    >
      <tabla-config-tipo-usuario
        [ngClass]="
          'flex flex-col h-full max-h-[calc(100vh_-_20rem)] overflow-y-auto'
        "
      ></tabla-config-tipo-usuario>
    </div>

    <input
      #tabFecha
      type="radio"
      name="espaciosTabs"
      class="tab font-semibold max-md:text-base max-sm:h-11 text-[1.125rem]"
      aria-label="Por Fecha"
      [checked]="fechaChecked()"
      (change)="cambiarPestana('fecha')"
    />
    <div
      class="tab-content border-base-300 bg-base-100 max-md:p-2 p-5 xl:p-10 overflow-hidden !max-h-[calc(100vh_-_16.75rem)]"
    >
      <config-por-fecha
        [ngClass]="
          'flex flex-col h-full max-h-[calc(100vh_-_20rem)] overflow-y-auto'
        "
      ></config-por-fecha>
    </div>

    <input
      #tabNovedades
      type="radio"
      name="espaciosTabs"
      class="tab font-semibold max-md:text-base max-sm:h-11 text-[1.125rem]"
      aria-label="Novedades"
      [checked]="novedadesChecked()"
      (change)="cambiarPestana('novedades')"
    />
    <div
      class="tab-content border-base-300 bg-base-100 max-md:p-2 p-5 xl:p-10 overflow-hidden !max-h-[calc(100vh_-_16.75rem)]"
    >
      <novedades
        [ngClass]="
          'flex flex-col h-full max-h-[calc(100vh_-_20rem)] overflow-y-auto'
        "
      ></novedades>
    </div>
  </div>
</div>

<ng-template #alertaEspacioConfig></ng-template>
