<!-- Información de registros -->
@if (mostrarInfo()) {
<div class="text-sm text-base-content/70 order-2 sm:order-1">
  <ng-container>
    Mostrando {{ desde() }} a {{ hasta() }} de {{ totalRegistros() }} registros
  </ng-container>
  <ng-template #sinDatos>No hay registros para mostrar</ng-template>
</div>
}
<!-- Controles de paginación -->
<div class="flex items-center gap-2 order-1 sm:order-2">
  <div class="flex items-center gap-1">
    @if (mostrarExtremos()) {
    <button
      class="btn btn-sm btn-outline"
      [disabled]="!puedeRetroceder() || deshabilitado()"
      (click)="irPrimera()"
      title="Primera página"
      type="button"
    >
      <span [innerHTML]="'&laquo;'"></span>
    </button>
    } @for (page of paginasVisibles(); track $index) {

    <ng-container>
      <!-- Página numerada o flechas -->
      @if (page.url) {
      <button
        class="btn btn-sm"
        [class.btn-primary]="page.active"
        [class.btn-outline]="!page.active"
        [disabled]="deshabilitado()"
        (click)="irPaginaDesdeLink(page)"
        (mouseenter)="
          !page.active
            ? onMouseEnter({
                pageIndex: page.tablePageIndex,
                pageSize: estado().pageSize
              })
            : null
        "
        type="button"
      >
        <span [innerHTML]="page.label"></span>
      </button>
      }
    </ng-container>
    } @if (mostrarExtremos()) {
    <button
      class="btn btn-sm btn-outline"
      [disabled]="!puedeAvanzar() || deshabilitado()"
      (click)="irUltima()"
      title="Última página"
      type="button"
    >
      <span [innerHTML]="'&raquo;'"></span>
    </button>
    }
  </div>
</div>

<!-- Selector de tamaño de página -->
@if (mostrarSelectorTamano()) {
<div class="flex items-center gap-2 text-sm order-3 sm:order-3">
  <span class="text-base-content/70">Mostrar:</span>
  <select
    class="select select-xs w-fit select-bordered"
    [formControl]="valorSelect"
    (change)="cambiarTamanoPagina(+$any($event.target).value)"
  >
    @for (size of opcionesTamano(); track $index) {
    <option [value]="size">
      {{ size }}
    </option>
    }
  </select>
  <span class="text-base-content/70">por página</span>
</div>
}
