@if (!imagen) {
<imagen-drop (fileDropped)="onImagenDrop($event)"></imagen-drop>
} @else {
<div class="flex border border-base-content rounded-lg p-2 mb-2">
  <img
    #espacioImagenRef
    [src]="imagen"
    alt="Imagen del espacio"
    class="w-full max-w-32 max-h-32 object-cover rounded-lg"
  />
  <div class="flex w-full flex-row justify-between items-center ml-4">
    <div class="flex flex-col gap-2">
      <span class="text-base font-semibold">{{ tiltuloImagen()?.nombre }}</span>
      <span class="text-sm italic text-gray-500">{{
        tiltuloImagen()?.peso
      }}</span>
    </div>
    @if (appService.editando()) {
    <button
      type="button"
      class="btn btn-error btn-soft h-8"
      (click)="borrarImagen()"
    >
      Borrar
    </button>
    }
  </div>
</div>
}

<form [formGroup]="espacioForm" (ngSubmit)="enviarFormulario()">
  <div class="my-4 flex flex-col md:flex-row w-full gap-2 md:gap-3">
    <div class="flex flex-col w-full md:w-1/3">
      <label
        class="label text-sm font-[600] text-base-content mb-1 md:mb-2"
        for="nombre"
      >
        Nombre <span class="text-error">*</span>
      </label>
      <input
        type="text"
        id="nombre"
        formControlName="nombre"
        placeholder="Nombre"
        [ngClass]="{
          'input input-bordered w-full h-11 rounded-md placeholder:text-gray-400 placeholder:text-xs md:placeholder:text-sm': true,
          'input-error': formUtils.esCampoInvalido(espacioForm, 'nombre')
        }"
      />
      @if (formUtils.esCampoInvalido(espacioForm, 'nombre')) {
      <div class="text-sm text-error">
        {{ formUtils.obtenerErrorDelCampo(espacioForm, 'nombre') }}
      </div>
      }
    </div>
    <div class="flex flex-col w-full md:w-1/3">
      <label
        class="label text-sm font-[600] text-base-content mb-1 md:mb-2"
        for="tipoDocumento"
      >
        Sede <span class="text-error">*</span>
      </label>
      <select
        type="text"
        id="sede"
        formControlName="sede"
        [ngClass]="{
          'select input-bordered w-full h-11 rounded-md placeholder:text-gray-400 placeholder:text-xs md:placeholder:text-sm': true,
          'input-error': formUtils.esCampoInvalido(espacioForm, 'sede')
        }"
      >
        <option value="" disabled selected>Seleccione</option>
        @for (sede of appService.sedesQuery.data(); track sede.id) {
        <option [value]="sede.id">
          {{ `${sede.nombre}` }}
        </option>
        }
      </select>
      @if (formUtils.esCampoInvalido(espacioForm, 'sede')) {
      <div class="text-sm text-error">
        {{ formUtils.obtenerErrorDelCampo(espacioForm, 'sede') }}
      </div>
      }
    </div>
    <div class="flex flex-col w-full md:w-1/3">
      <label
        class="label text-sm font-[600] text-base-content mb-1 md:mb-2"
        for="tipoDocumento"
      >
        Tipo de espacio: <span class="text-error">*</span>
      </label>
      <select
        type="text"
        id="categoria"
        formControlName="categoria"
        [ngClass]="{
          'select input-bordered w-full h-11 rounded-md placeholder:text-gray-400 placeholder:text-xs md:placeholder:text-sm': true,
          'input-error': formUtils.esCampoInvalido(espacioForm, 'categoria')
        }"
      >
        <option value="" disabled selected>Seleccione</option>
        @for (categoria of appService.categoriasQuery.data(); track
        categoria.id) {
        <option [value]="categoria.id">
          {{ `${categoria.nombre}` }}
        </option>
        }
      </select>
      @if (formUtils.esCampoInvalido(espacioForm, 'categoria')) {
      <div class="text-sm text-error">
        {{ formUtils.obtenerErrorDelCampo(espacioForm, 'categoria') }}
      </div>
      }
    </div>
  </div>
  <div class="my-4 flex flex-col md:flex-row w-full gap-2 md:gap-3">
    <div class="flex flex-col w-full md:w-1/3">
      <label
        class="label text-sm font-[600] text-base-content mb-1 md:mb-2"
        for="reservasSimultaneas"
      >
        Reservas simultáneas por hora:
      </label>
      <input
        type="number"
        id="reservasSimultaneas"
        formControlName="reservasSimultaneas"
        placeholder="Ubicación del espacio"
        class="input input-bordered w-full h-11 rounded-md placeholder:text-gray-400 placeholder:text-xs md:placeholder:text-sm"
      />
    </div>
    <div class="flex flex-col w-full md:w-1/3">
      <label
        class="label text-sm font-[600] text-base-content h-5 mb-1 md:mb-2"
      >
      </label>
      <label class="label text-sm h-11 text-base-content" for="pagoMensualidad">
        <input
          id="pagoMensualidad"
          formControlName="pagoMensualidad"
          type="checkbox"
          class="checkbox checkbox-bordered mr-2"
          (change)="onPagoMensualidadChange($event)"
        />
        Pago con mensualidad
      </label>
    </div>
    @if (espacioForm.controls['pagoMensualidad'].value) {
    <div class="flex flex-col w-full md:w-1/3">
      <label
        class="label text-sm font-[600] text-base-content mb-1 md:mb-2"
        for="valorMensualidad"
      >
        Valor mensualidad:
      </label>
      <input
        type="number"
        id="valorMensualidad"
        formControlName="valorMensualidad"
        min="0"
        placeholder="0"
        [ngClass]="{
          'input input-bordered w-full h-11 rounded-md placeholder:text-gray-400 placeholder:text-xs md:placeholder:text-sm': true,
          'input-error': formUtils.esCampoInvalido(
            espacioForm,
            'valorMensualidad'
          )
        }"
      />
      @if (formUtils.esCampoInvalido(espacioForm, 'valorMensualidad')) {
      <div class="text-sm text-error">
        {{ formUtils.obtenerErrorDelCampo(espacioForm, 'valorMensualidad') }}
      </div>
      }
    </div>
    }
  </div>
  <div class="my-4 flex flex-col md:flex-row w-full gap-2 md:gap-3">
    <div class="flex flex-col w-full">
      <label
        class="label text-sm font-[600] text-base-content mb-1 md:mb-2"
        for="descripcion"
      >
        Notas importantes:
      </label>
      @if (appService.editando()) {
      <quill-editor
        #editor
        id="descripcion"
        theme="snow"
        formControlName="descripcion"
        [modules]="quillConfig"
        placeholder="Describe tu espacio aquí..."
      ></quill-editor>
      } @else {
      <div class="border border-base-content/70 rounded-lg prose quill-reset">
        <quill-view-html
          class="text-sm"
          [content]="espacioForm.controls['descripcion'].value"
        ></quill-view-html>
      </div>
      }
    </div>
  </div>
  <div class="my-2 flex flex-col md:flex-row w-full gap-2 md:gap-3">
    <div class="flex flex-col w-full">
      <label class="label text-sm text-base-content" for="aprobarReservas">
        <input
          id="aprobarReservas"
          formControlName="aprobarReservas"
          type="checkbox"
          class="checkbox checkbox-bordered mr-2"
          (change)="onAprobarReservasChange($event)"
        />
        Requiere aprobar reservas manualmente
      </label>
    </div>
  </div>
  <div class="my-4 flex flex-col md:flex-row w-full gap-2 md:gap-3">
    <div class="flex flex-col w-full md:w-1/3">
      <label
        class="label text-sm font-[600] text-base-content mb-1 md:mb-2 tooltip"
        for="limiteTiempoReserva"
        [attr.data-tip]="'Límite de tiempo para poder reservar'"
      >
        Límite (minutos):
      </label>
      <input
        type="number"
        id="limiteTiempoReserva"
        formControlName="limiteTiempoReserva"
        [ngClass]="{
          'select input-bordered w-full h-11 rounded-md placeholder:text-gray-400 placeholder:text-xs md:placeholder:text-sm': true,
          'input-error': formUtils.esCampoInvalido(
            espacioForm,
            'limiteTiempoReserva'
          )
        }"
      />
      @if (formUtils.esCampoInvalido(espacioForm, 'limiteTiempoReserva')) {
      <div class="text-sm text-error">
        {{ formUtils.obtenerErrorDelCampo(espacioForm, 'limiteTiempoReserva') }}
      </div>
      }
    </div>
    <div class="flex flex-col w-full md:w-1/3">
      <label class="label text-sm font-[600] text-base-content mb-1 md:mb-2">
        Tipo de límite:
      </label>
      <div class="flex items-center h-11 gap-6">
        <label class="label text-sm text-base-content cursor-pointer">
          <input
            id="despuesHora"
            type="checkbox"
            formControlName="despuesHora"
            class="checkbox checkbox-bordered mr-2"
          />
          Después de la hora
        </label>
      </div>
    </div>
    <div class="flex flex-col w-full md:w-1/3">
      <label
        class="label text-sm font-[600] text-base-content mb-1 md:mb-2"
        for="tipoDocumento"
      >
        Código del edificio: <span class="text-error">*</span>
      </label>
      <select
        type="text"
        id="codigoEdificio"
        formControlName="codigoEdificio"
        [ngClass]="{
          'select input-bordered w-full h-11 rounded-md placeholder:text-gray-400 placeholder:text-xs md:placeholder:text-sm': true,
          'input-error': formUtils.esCampoInvalido(
            espacioForm,
            'codigoEdificio'
          )
        }"
      >
        <option value="" disabled selected>Seleccione</option>
        @for (edificio of edificios(); track edificio.id) {
        <option [value]="edificio.id">
          {{ `${edificio.codigo} - ${edificio.nombre}` }}
        </option>
        }
      </select>
      @if (formUtils.esCampoInvalido(espacioForm, 'codigoEdificio')) {
      <div class="text-sm text-error">
        {{ formUtils.obtenerErrorDelCampo(espacioForm, 'codigoEdificio') }}
      </div>
      }
    </div>
  </div>
  <div class="my-4 flex flex-col md:flex-row w-full gap-2 md:gap-3">
    <div class="flex flex-col w-full md:w-1/3">
      <label
        class="label text-sm font-[600] text-base-content mb-1 md:mb-2 tooltip"
        for="codigoEspacio"
        [attr.data-tip]="'Código interno del espacio'"
      >
        Código del espacio: <span class="text-error">*</span>
      </label>
      <input
        type="text"
        id="codigoEspacio"
        pattern="[0-9A-Za-z ]+"
        formControlName="codigoEspacio"
        [ngClass]="{
          'input input-bordered w-full h-11 uppercase rounded-md placeholder:text-gray-400 placeholder:text-xs md:placeholder:text-sm': true,
          'input-error': formUtils.esCampoInvalido(espacioForm, 'codigoEspacio')
        }"
      />
      @if (formUtils.esCampoInvalido(espacioForm, 'codigoEspacio')) {
      <div class="text-sm text-error">
        {{ formUtils.obtenerErrorDelCampo(espacioForm, 'codigoEspacio') }}
      </div>
      }
    </div>
  </div>
  <div class="my-4 flex flex-col md:flex-row w-full gap-2 md:gap-3">
    <div class="flex flex-col w-full">
      <label class="label text-sm text-base-content" for="permitirJugadores">
        <input
          #permitirJugadores
          id="permitirJugadores"
          formControlName="permitirJugadores"
          type="checkbox"
          class="checkbox checkbox-bordered mr-2"
          (change)="onPermitirJugadoresChange($event)"
        />
        Se puede agregar participantes
      </label>
    </div>
  </div>
  @if (permitirJugadores.checked) {
  <div class="my-4 flex flex-col md:flex-row w-full gap-2 md:gap-3">
    <div class="flex flex-col w-full md:w-1/3">
      <label
        class="label text-sm font-[600] text-base-content mb-1 md:mb-2"
        for="minimoJugadores"
      >
        Mínimo de participantes: <span class="text-error">*</span>
      </label>
      <input
        type="text"
        id="minimoJugadores"
        formControlName="minimoJugadores"
        placeholder="3"
        [ngClass]="{
          'input input-bordered w-full h-11 rounded-md placeholder:text-gray-400 placeholder:text-xs md:placeholder:text-sm': true,
          'input-error': formUtils.esCampoInvalido(
            espacioForm,
            'minimoJugadores'
          )
        }"
      />
      @if (formUtils.esCampoInvalido(espacioForm, 'minimoJugadores')) {
      <div class="text-sm text-error">
        {{ formUtils.obtenerErrorDelCampo(espacioForm, 'minimoJugadores') }}
      </div>
      }
    </div>
    <div class="flex flex-col w-full md:w-1/3">
      <label
        class="label text-sm font-[600] text-base-content mb-1 md:mb-2"
        for="maximoJugadores"
      >
        Máximo de participantes: <span class="text-error">*</span>
      </label>
      <input
        type="text"
        id="maximoJugadores"
        formControlName="maximoJugadores"
        placeholder="10"
        [ngClass]="{
          'input input-bordered w-full h-11 rounded-md placeholder:text-gray-400 placeholder:text-xs md:placeholder:text-sm': true,
          'input-error': formUtils.esCampoInvalido(
            espacioForm,
            'maximoJugadores'
          )
        }"
      />
      @if (formUtils.esCampoInvalido(espacioForm, 'maximoJugadores')) {
      <div class="text-sm text-error">
        {{ formUtils.obtenerErrorDelCampo(espacioForm, 'maximoJugadores') }}
      </div>
      }
    </div>
    <div class="flex flex-col w-full md:w-1/3">
      <label class="label text-sm font-[600] text-base-content h-5 mb-1 md:mb-2">
      </label>
      <label class="label text-sm  h-11 text-base-content" for="permitirExternos">
        <input
          id="permitirExternos"
          formControlName="permitirExternos"
          type="checkbox"
          class="checkbox checkbox-bordered"
        />
        <span class="text-wrap">Se puede agregar beneficiarios</span>
      </label>
    </div>
  </div>
  }

  <ng-template #alertaFormEspacio></ng-template>

  <div class="modal-action">
    @if (espacioConfigService.modoEdicionGeneral()) {
    <button
      type="button"
      class="btn btn-ghost h-11 rounded-md"
      (click)="cancelarEditar()"
    >
      Cancelar
    </button>
    <button
      type="submit"
      [disabled]="espacioForm.invalid || false"
      [class]="`btn btn-accent  btn-soft h-11 rounded-md`"
    >
      Actualizar
    </button>
    } @if (authService.tienePermisos('ESP000004') &&
    !espacioConfigService.modoEdicionGeneral()) {
    <button
      type="button"
      [class]="`btn btn-secondary btn-soft h-11 rounded-md`"
      (click)="editarGeneral()"
    >
      Editar
    </button>
    }
  </div>
</form>
