<!-- Drawer móvil para pantallas pequeñas - Solo si se debe mostrar menú -->
@if (shouldShowMenu()) {
<app-mobile-drawer></app-mobile-drawer>
}

<div
  class="flex flex-col w-dvw h-dvh bg-base-300 !pt-[var(--ion-safe-area-top)]"
>
  @if (shouldShowMenu()) {
  <app-header></app-header>
  }

  <div class="flex grow gap-1 w-full px-2 pb-2 md:pb-4 md:p-4 overflow-hidden">
    @if (shouldShowMenu()) {
    <div class="hidden md:flex md:col-span-1 flex-col h-full">
      <app-side-menu></app-side-menu>
    </div>
    }
    <div
      class="flex flex-col w-full h-full overflow-hidden relative"
    >
      <router-outlet class="absolute"></router-outlet>
    </div>
  </div>
</div>
