<ion-content [fullscreen]="true" class="ion-padding overflow-hidden">
  <ion-grid class="ion-padding flex h-full !flex-col !justify-center ion-justify-content-center ion-align-items-center overflow-hidden">
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size-md="6" size-lg="4" size="12" class="ion-text-center">
        <ion-text color="primary">
          <h1 class="ion-text-center !font-[600] !text-4xl">Crear Cuenta</h1>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size-md="6" size-lg="4" size="12">
        <form [formGroup]="registroForm" (ngSubmit)="onRegistro()">
          <ion-item lines="none" class="ion-margin-bottom">
            <ion-icon slot="start" color="dark" name="person-outline" class="mr-3 mt-0.5"></ion-icon>
            <ion-input label="Nombre completo" labelPlacement="stacked" type="text" formControlName="nombre"
              placeholder="Ej: Juan Pérez" required></ion-input>
          </ion-item>
          <ion-item lines="none" class="ion-margin-bottom">
            <ion-icon slot="start" color="dark" name="phone-portrait-outline" class="mr-3 mt-0.5"></ion-icon>
            <ion-input label="Teléfono" labelPlacement="stacked" type="tel" formControlName="telefono"
              placeholder="Ej: +56912345678" required></ion-input>
          </ion-item>
          <ion-item lines="none" class="ion-margin-bottom">
            <ion-icon slot="start" color="dark" name="mail-outline" class="mr-3 mt-0.5"></ion-icon>
            <ion-input label="Correo electrónico" labelPlacement="stacked" type="email" formControlName="email"
              placeholder="Ej: correo@ejemplo.com" required></ion-input>
          </ion-item>
          <ion-item lines="none" class="ion-margin-bottom">
            <ion-icon slot="start" color="dark" name="key-outline" class="mr-3 mt-0.5"></ion-icon>
            <ion-input label="Contraseña" labelPlacement="stacked" type="password" formControlName="password"
              placeholder="Ingresa tu contraseña" required></ion-input>
          </ion-item>
          <ion-item lines="none" class="ion-margin-bottom">
            <ion-icon slot="start" color="dark" name="key-outline" class="mr-3 mt-0.5"></ion-icon>
            <ion-input label="Confirmar contraseña" labelPlacement="stacked" type="password"
              formControlName="confirmPassword" placeholder="Repite tu contraseña" required></ion-input>
          </ion-item>
          <div class="ion-padding-top">
            <ion-button expand="block" type="submit">Registrarse</ion-button>
          </div>
          <div class="ion-text-center ion-padding-top">
            ¿Ya tienes cuenta?
            <ion-button fill="clear" routerLink="/auth/login">Inicia sesión</ion-button>
          </div>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
