<ng-template #estadoCell let-context>
  @if(context.row.original.id === -1) {
  <span class="badge font-semibold badge-info">Nuevo</span>
  } @else {
  <div
    [attr.data-tip]="context.getValue() === null ? 'Desactivar' : 'Activar'"
    [ngClass]="{
      'badge font-semibold min-w-20 hover:cursor-pointer hover:scale-105 transition-all tooltip align-middle': true,
      'tooltip-right': !context.column.getIsVisible(),
      'tooltip-left': context.column.getIsVisible(),
      'badge-success': context.getValue() === null,
      'badge-error': context.getValue() !== null,
      'opacity-50 pointer-events-none badge-ghost': appService.editando()
    }"
    [attr.disabled]="appService.guardando()"
    (click)="
      authService.tienePermisos('ESP000012')
        ? appService.editando()
          ? null
          : cambiarEstadoConfig(context.row.original)
        : null
    "
  >
    {{ (context.getValue() === null ? 'activo' : 'inactivo') | upperFirst }}
  </div>
  }
</ng-template>

<ng-template #nombreCell let-context>
  @if(context.row.original.id === -1 ||
  configService.filaGrupoEditando()[context.row.original.id]) {
  <input
    [formControl]="nombre"
    placeholder="Inserte nombre del grupo"
    pattern="[a-zA-Z0-9áéíóú ]*"
    class="input input-sm h-9 placeholder:text-gray-400"
    type="text"
  />
  } @else {
  <span class="font-semibold text-sm md:text-base">{{
    context.getValue() | upperFirst
  }}</span>
  }
</ng-template>

<ng-template #fechaCell let-context>
  @if (context.row.original.id === -1 ||
  configService.filaGrupoEditando()[context.row.original.id]) {
  <span>{{ fechaActual() }}</span>
  } @else {
  <span>
    {{ context.getValue() }}
  </span>
  }
</ng-template>

<!-- Tabla de grupos -->
<table
  responsiveTable
  #tablaGrupo="responsiveTable"
  [table]="tablaGrupos()"
  class="table w-full rounded-md table-sm sm:table-md"
>
  <thead class="sticky top-0 z-20 bg-base-100">
    @for (headerGroup of tablaGrupos().getHeaderGroups(); track headerGroup.id)
    {
    <tr>
      @for (header of headerGroup.headers; track header.id) {
      <th
        class="p-2 text-left first:rounded-tl-md last:rounded-tr-md bg-base-100 z-20"
        [colSpan]="header.colSpan"
      >
        @if (!header.isPlaceholder) {
        <ng-container
          *flexRender="
            header.column.columnDef.header;
            props: header.getContext();
            let header
          "
        >
          <span class="text-left" [innerHTML]="header"></span>
        </ng-container>
        }
      </th>
      }
    </tr>
    }
  </thead>
  <tbody>
    @if (!gruposQuery.length && !modoCreacion()) {
    <tr>
      <td
        [attr.colspan]="
          tablaGrupos().getAllColumns().length +
          (tablaGrupo.hiddenColumnIds().size > 0 ? 1 : 0)
        "
        class="text-center text-gray-500"
      >
        <span>No hay grupos aún...</span>
      </td>
    </tr>
    } @else { @for (row of tablaGrupos().getRowModel().rows; track row.id) {
    <tr class="bg-base-100">
      @for (cell of row.getVisibleCells(); track cell.id) {
      <td class="p-2">
        @if (esColumnaEditable(cell.column.id) &&
        configService.filaGrupoEditando()[row.original.id]) { @switch
        (cell.column.id) { @case ('nombre') {
        <input
          [formControl]="nombre"
          placeholder="Inserte nombre"
          pattern="[a-zA-Z0-9áéíóú ]*"
          class="input input-sm h-9 placeholder:text-gray-400"
          type="text"
        />
        } } } @else {
        <ng-container
          *flexRender="
            cell.column.columnDef.cell;
            props: cell.getContext();
            let cell
          "
        >
          <div [innerHTML]="cell"></div>
        </ng-container>
        }
      </td>
      }
    </tr>
    @if (row.getIsExpanded() && tablaGrupo.hiddenColumnIds().size !== 0) {
    <tr class="bg-base-300 border-none">
      <td
        [attr.colspan]="
          row.getVisibleCells().length +
          (tablaGrupo.hiddenColumnIds().size > 0 ? 1 : 0)
        "
      >
        <div class="bg-base-100 rounded-md p-1 px-3 shadow-md w-full">
          @if (tablaGrupo.hiddenColumnIds().size !== 0) {
          <ul>
            @for (col of tablaGrupos().getAllLeafColumns(); track $index) { @if
            (tablaGrupo.hiddenColumnIds().has(col.id)) {
            <li class="flex my-2 flex-row gap-2 items-center">
              <span class="font-bold text-base-content">
                {{ col.columnDef.header }}:
              </span>
              <span>
                <ng-container
                  *flexRender="
                    tablaGrupo.getCell(col, row).column.columnDef.cell;
                    props: tablaGrupo.getCell(col, row).getContext();
                    let cell
                  "
                >
                  <div [innerHTML]="cell"></div>
                </ng-container>
              </span>
            </li>
            } }
          </ul>
          <div class="divider my-1"></div>
          }
        </div>
      </td>
    </tr>
    } } }
  </tbody>
</table>

<!-- Paginador -->
<app-paginador
  [ngClass]="
    'flex flex-col sm:flex-row items-center justify-between gap-4 p-4 bg-base-100 sticky bottom-0 z-10 rounded-b-box'
  "
  [estado]="configService.paginacionGrupos()"
  [paginacion]="configService.datosPaginadorGrupos() ?? null"
  (cambioPaginacion)="onPageChange($event)"
  [mostrarInfo]="true"
  [mostrarSelectorTamano]="true"
  [mostrarExtremos]="true"
  [deshabilitado]="configService.gruposQuery.isFetching()"
  (prefetchFunction)="configService.prefetchGrupos($event)"
>
</app-paginador>

<ng-template #alertaGrupos></ng-template>
