<div
  class="flex flex-col md:flex-row md:pr-2 w-full pb-2 md:pb-4 items-stretch justify-center md:justify-between sticky top-0 z-30 bg-base-300"
>
  <div class="flex items-center justify-center sm:justify-start gap-2">
    <h2
      class="font-bold text-4xl mb-2 md:mb-0 max-md:text-2xl max-sm:text-center"
    >
      Configuración
    </h2>
  </div>
  <div class="flex flex-col md:flex-row max-md:gap-1 gap-2">
    @if (authService.tienePermisos('PER000001')) {
    <button
      [disabled]="appService.editando()"
      class="btn max-sm:btn-sm btn-primary sm:h-11 rounded-box"
      (click)="crear()"
    >
      <app-web-icon estilos="h-6 w-6" nombreIcono="add-outline"></app-web-icon>
      {{ tituloBotonCrear() }}
    </button>
    }
  </div>
</div>

<div class="tabs tabs-lift">
  <input
    #tabCategorias
    type="radio"
    name="espaciosTabs"
    class="tab font-semibold text-[1.125rem] max-sm:text-base"
    aria-label="Categorías"
    [checked]="categoriasChecked()"
    (change)="cambiarPestana('categorias')"
  />
  <div class="tab-content border-base-300 bg-base-100 p-2 md:p-5">
    <config-categorias
      [ngClass]="'flex flex-col'"
    ></config-categorias>
  </div>

  <input
    #tabGrupos
    type="radio"
    name="espaciosTabs"
    class="tab font-semibold text-[1.125rem] max-sm:text-base"
    aria-label="Grupos"
    [checked]="gruposChecked()"
    (change)="cambiarPestana('grupos')"
  />
  <div class="tab-content border-base-300 bg-base-100 p-2 md:p-5">
    <config-grupos [ngClass]="'flex flex-col'"></config-grupos>
  </div>

  <input
    #tabGrupos
    type="radio"
    name="espaciosTabs"
    class="tab font-semibold text-[1.125rem] max-sm:text-base"
    aria-label="Elementos"
    [checked]="elementosChecked()"
    (change)="cambiarPestana('elementos')"
  />
  <div class="tab-content border-base-300 bg-base-100 p-2 md:p-5">
    <config-elementos
      [ngClass]="'flex flex-col'"
    ></config-elementos>
  </div>
</div>

<ng-template #alertaConfig></ng-template>
