<dialog #dreservasModal class="modal p-0 z-50">
  <div
    class="modal-box lg:w-[70vw] !max-w-[50rem] max-h-[70vh] relative"
  >
    <div
      class="h-full flex-col mb-2 max-h-[calc(70vh-5.75rem)]"
    >
      <div class="flex gap-4 w-full">
        <div class="flex flex-col w-1/2 mb-2">
          <img
            class="w-full h-[12.75rem] object-cover rounded-lg"
            [src]="getImagenUrl(espacioDetallesQuery?.imagen?.ubicacion)"
            alt=""
          />
        </div>
        <div class="flex flex-col w-1/2">
          <span class="w-full text-center text-2xl font-bold">
            {{ espacioDetallesQuery?.nombre | upperFirst }}
          </span>
          <div class="w-full flex items-center mt-4">
            <app-web-icon nombreIcono="location-outline" estilos="h-5 w-5">
            </app-web-icon>
            <span class="text-sm ml-1">
              {{ espacioDetallesQuery?.sede?.nombre | uppercase }}
            </span>
          </div>
          <p class="text-sm mt-4">
            {{ espacioDetallesQuery?.descripcion || 'No hay descripción' }}
          </p>
          <span class="inline-block text-sm mt-4">
            <span class="font-semibold">Reservar desde: </span>
            {{ obtenerFechaDeApertura(espacioDetallesQuery?.configuracion!) }}
          </span>
          <br />
        </div>
      </div>
      <div class="flex flex-col gap-1 w-full">
        <span class="flex w-full text-lg font-bold text-center"
          >Disponibilidad:</span
        >
        <div class="flex flex-wrap gap-2 items-center">
          @for (item of espacioDetallesQuery?.disponibilidad; track $index) {
          <div
            [ngClass]="`h-12 text-semibold text-lg flex flex-wrap w-44 items-center justify-center rounded-lg btn btn-${ item.estilos.background_color }`"
          >
            {{ item.hora_inicio }}
          </div>
          }
        </div>
      </div>
    </div>
    <div class="modal-action mt-2 sticky bottom-0 z-10">
      <button
        type="button"
        class="btn btn-ghost h-11 rounded-box"
        (click)="dreservasService.cerrarModal()"
      >
        Cerrar
      </button>
    </div>
  </div>
</dialog>
