<!-- Menú móvil (aparece como side menu) -->

<!-- Menú desktop (siempre visible como sidebar) -->
@if (appService.esMovil()) {<ion-menu
  contentId="main-content"
  type="overlay"
  *ngIf="false"
  class="mobile-menu">
  <ion-content>
    <div
      class="user-info"
      *ngIf="usuarioActual">
      <ion-avatar>
        <img
          src="https://ionicframework.com/docs/img/demos/avatar.svg"
          alt="Avatar de usuario" />
      </ion-avatar>
      <h2>{{ usuarioActual?.nombre || 'Usuario' }}</h2>
      <p>{{ usuarioActual?.email || 'usuario@ejemplo.com' }}</p>
    </div>

    <ion-list>
      @for (item of menuItems$ | async; track item.id) {
      <ion-item
        [routerLink]="[item.url]"
        detail="false"
        class="menu-item">
        <ion-icon
          slot="start"
          [name]="item.icon"></ion-icon>
        <ion-label>{{ item.title }}</ion-label>
      </ion-item>
      }

      <ion-item-divider></ion-item-divider>

      <ion-item
        detail="false"
        class="menu-item"
        (click)="logout()">
        <ion-icon
          slot="start"
          name="log-out-outline"
          color="danger"></ion-icon>
        <ion-label color="danger">Cerrar Sesión</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
} @else {

<ul class="menu bg-base-100 rounded-box shadow-md">
  @for (item of menuItems$ | async; track item.id) {
  <li>
    <a
      class="font-[500] menu-vertical"
      [routerLink]="[item.url]"
      routerLinkActive="menu-active">
      <app-web-icon
        estilos="w-6 h-6"
        [nombreIcono]="item.icon">
      </app-web-icon>
      {{ item.title }}
    </a>
  </li>
  }
</ul>

}
